   /* 検索と商品一覧、ホーム画面で使用 */
   
   ul 
    {
        display: flex;
        justify-content: center;
        width: auto;/* 画像表示領域の幅 */
    }
    li 
    {
        list-style: none;
        margin: 10px;
    }
    .subtitle
    {
        color:#694934;
    }
    img
    {
        border: solid 0.5px #960d0d59;
    }
    .content-wrapper {
        background-color: #fefff3;
    }
    /* .card
     {
        --bs-card-border-color: rgb(160 101 101 / 80%);
        border: var(--bs-card-border-width) solid rgb(177, 138, 138);
    } */
    .card-body
    {
    margin: 0 0 0 0;
    }
    .card-header {
    background-color: rgb(190 129 112 / 57%);
    color:white;
    }
    .table{
        --bs-table-color: #553906d4;
    }
    .card-body table{
        --bs-table-border-color: #b87e50ad;
    }
    .table thead th {
        border-bottom: 2px solid #a77a4457;
    }
    .card-body.table-responsive.p-0 table thead.custom-header tr th 
    {
        background-color: rgb(190, 129, 112, 0.57) !important; /* 背景色を設定 */
        color:white;
    }
    .btn:not(:disabled):not(.disabled)
    {
        cursor: pointer;
        background-color: #d9c4b7;
    }
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default
     {
        color: #694934;
    }
    .btn-outline-success 
    {
        --bs-btn-color: #613905;
        --bs-btn-border-color: #674f236e;
        --bs-btn-hover-border-color: #623405;
        --bs-btn-hover-bg:#623405;
        --bs-btn-active-bg: #8e581c;
        --bs-btn-active-border-color:#623405;
        --bs-btn-active-shadow:#674f236e;
        --bs-btn-disabled-color: #623405;
        --bs-btn-disabled-border-color: #623405;
    }
    .btn-outline-success:not(:disabled):not(.disabled):active
    {
        color: #fff;
        background-color: #623405;
        border-color: #623405;
    }
    .form-select option:checked {

        background-color: white;
        color: #5e1f14;
        border: var(--bs-border-width) solid #822f2fc9;
    }
    .form-select:focus {
        border-color: #cd95d7;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(228 102 102 / 25%);
    }
    .form-select 
     {
        background-color: white;
        color: #5e1f14;
        border: var(--bs-border-width) solid #822f2fc9;
    }
    .form-control 
    {
        color: #5e1f14;
        border: var(--bs-border-width) solid #822f2fc9;
    }
    .form-control:focus {
        color: #5e1f14;
        background-color: var(--bs-body-bg);
        border-color: #cd95d7;
        box-shadow: 0 0 0 0.25rem rgb(228 102 102 / 25%);
    }
    .col-auto {
    padding-right: 0px;
    padding-left:0px;
    margin-bottom:5vh;
    }
    .card-body.table-responsive.p-0
    {
        border: solid 0.5px #794e0dd6;
    }
    a {
        color: #984b4b;
        text-decoration: none;
    }
    a:hover 
    {
        color:#794e0dd6;
    }
    a.btn-color
    {
        color: #fffecf;
        text-decoration-line: underline;
    }
    tbody, td, tfoot, th, thead, tr 
    {
        border-style: solid;
        border-width: 0;
        border-color: #b87e50ad;
    }
    .pagination li {
        padding: 0;
        margin: 0;
    }
    ul.pagination{
        margin-top: 2vh;
    }

    .page-item.active .page-link
    {
        z-index: 3;
        color: #fff;
        background-color: #bf8865;
        border-color: #854e1e;
    }
    .page-link 
    {
        color: #5e2008;
        border: var(--bs-pagination-border-width) solid #8d464647;
    }
    .page-link:focus
     {
        color: #84362c;
        background-color: #99111124;
        box-shadow:#bf8865;
    }
    .pagination 
    {
        --bs-pagination-border-color: #9701014d;
        --bs-pagination-hover-border-color: #9701014d;
        --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(249 61 61 / 25%);
        --bs-pagination-disabled-border-color:#9701014d;
    }
    .main-header {
        border-bottom: 1px solid #87101080;
        z-index: 1034;
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgb(109 0 0 / 69%);
    }
    .content-header h1 {
        font-size: 1.8rem;
        margin: 0;
        color: #580e0eab;
    }
    [class*=sidebar-dark-] {
        background-color: #9f651a;
      }
      [class*=sidebar-dark-] .sidebar a {
        color: #fff0ba;
      }
      .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
        background-color: #ffba50;
        color: #bb1d1d;
      }